$primary-color: hsl(25, 97%, 53%);
$font-color: hsl(0, 0%, 100%);
$background-color: hsl(216, 12%, 8%);
$panel-color: #1f2630;
$hover-rating-color: hsl(216, 12%, 54%);
$before-hover-font-color: hsl(217, 12%, 63%);
$star-buttons-color: #272e38;

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
